[submodule "pota"]
	path = pota
	url = https://github.com/zpelgrims/pota
[submodule "Eigen"]
	path = Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
