$font-color: #333333;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Spectral';
  color: $font-color;
  background: #efefef;
}

#caret {
  font-size: 1rem;
}