$font-color: #333333;
$highlight-color: #e87979;
$lowlight-color: #d85050;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Spectral';
  color: $font-color;
  background: #efefef;
}

hr {
  border: 0;
  clear: both;
  display:block;
  width: 80%;               
  background-color: rgba(0, 0, 0, 0.5);
  height: 1px;
  margin: 2rem auto;
}

#caret {
  font-size: 1rem;
}

// Override all highlighted text color for all browsers
::selection {
  background-color: $highlight-color;
  color: white;
}
::-moz-selection {
  background-color: $highlight-color;
  color: white;
}
::-o-selection {
  background-color: $highlight-color;
  color: white;
}
::-ms-selection {
  background-color: $highlight-color;
  color: white;
}
::-webkit-selection {
  background-color: $highlight-color;
  color: white;
}