$font-color: #333333;
$highlight-color: #e87979;
$lowlight-color: #d85050;
$complimentary-color: #00B233;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Spectral';
  color: $font-color;
  background: #efefef;
}

hr {
  border: 0;
  clear: both;
  display:block;
  width: 80%;               
  background-color: rgba(0, 0, 0, 0.5);
  height: 1px;
  margin: 2rem auto;
}

#caret {
  font-size: 1rem;
}

.button {
  background-color: $highlight-color;
  color: white;
  border: none;
  padding: 1rem 5rem;
  border-radius: 5px;
  text-transform: lowercase;
  font-size: 2rem;
  text-align: center;
  transition: all .2s;

  &:hover {
    background-color: $lowlight-color;
    color: white;
    text-decoration: none;
  }

  &:focus {
    color: white;
    outline: none;
    text-decoration: none;
  }

  &:active {
    background-color: $highlight-color;
    text-decoration: none;
  }

  &--inactive {
    filter: grayscale(75%);

    &:hover {
      background-color: $highlight-color;
    }
  }
}

.content {
  min-height: 100vh;
}

// Override all highlighted text color for all browsers
::selection {
  background-color: $highlight-color;
  color: white;
}
::-moz-selection {
  background-color: $highlight-color;
  color: white;
}
::-o-selection {
  background-color: $highlight-color;
  color: white;
}
::-ms-selection {
  background-color: $highlight-color;
  color: white;
}
::-webkit-selection {
  background-color: $highlight-color;
  color: white;
}