$breakpoint-xs: 330px;
$breakpoint-sm: 460px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;

@mixin media($breakpoint) {
  @media(max-width: $breakpoint) {
    @content
  }
}

@mixin media-min($breakpoint) {
  @media(min-width: $breakpoint) {
    @content
  }
}
