.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__title {
    text-decoration: none;
    color: black;
    padding: 0 .5rem;
  }
  
  &__list {
    padding-inline-start: 0;
    background-color: white;
    position: absolute;
    margin-top: 30px;
    z-index: 10;
    height: 15rem;
    overflow-y: scroll;
    overflow-x: hidden;
    
    &__item {
      list-style: none;
      padding: .5rem 1rem;
      display: flex;
      justify-content: flex-end;
      flex-wrap: nowrap;
      font-size: 1.4rem;
      
      &:nth-of-type(even) {
        background-color: #efefef;
      }

      label {
        margin: 0 .5rem;
        font-weight: normal;
      }

      input:focus {
        outline: none;
      }
    }
  }
}

.checkbox {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background: #EEE;
  height: 15px;
  width: 15px;
  border: 1px solid #999;
  
  &:focus,
  &:active {
    outline: none;
  }
  
  &:after {
    content: "✓";
    color: #EEE;
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
  }
  
  &:checked {
    
    &:after {
      color: black;
    }
  }
}