@import './breakpoints';

.exp-lense {
  height: 0;

  &__card {
    width: 90vw;
    display: block;
    opacity: 0;
    margin-top: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0);

    @include media-min(768px) {
      $width: 750px;
      width: $width;
    }
    @include media-min(992px) {
      $width: 970px;
      width: $width;
    }
    @include media-min(1200px) {
      $width: 1170px;
      width: $width;
    }

    &__info {
      height: 30.8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &--scroll {
        overflow-y: scroll;
      }

      &__prop {
        font-size: 1.6rem;
        display: flex;
        width: 100%;

        &--key {
          min-width: 30%;
          text-align: right;
          padding-right: 1rem;
          font-weight: 500;
        }

        &--val {
          min-width: 70%;
          text-align: left;
          font-weight: 300;
        }
      }
    }
  }
  &__2020 {
    @include media($breakpoint-md) {
      display: none
    }
  }
}

.twentytwenty-container {
  min-height: 100%;
  max-height: 30.8rem;
  border-bottom: 1px solid rgba($highlight-color, 0.3);
  z-index: -1;
}

.twentytwenty-handle {
  top: 0%;
  width: 0px;
  height: 0px;
  margin-left: -3px;
}
.twentytwenty-horizontal .twentytwenty-handle:after,
.twentytwenty-horizontal .twentytwenty-handle:before {
  width: 2px;
}
