.exp-lense {
  height: 0;

  &__card {
    width: 68vw;
    display: block;
    opacity: 0;
    margin-top: 3rem;
    position: absolute;
    left: -9999px;

    &__info {
      height: 30.8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__prop {
        font-size: 1.6rem;
        display: flex;
        width: 100%;

        &--key {
          min-width: 30%;
          text-align: right;
          padding-right: 1rem;
          font-weight: 500;
        }

        &--val {
          min-width: 70%;
          text-align: left;
          font-weight: 300;
        }
      }
    }
  }
}

.twentytwenty-container {
  min-height: 100%;
  max-height: 30.8rem;
  border-bottom: 1px solid rgba($highlight-color, 0.3);
}

.twentytwenty-handle {
  top: 0%;
  width: 0px;
  height: 0px;
  margin-left: -3px;
}
.twentytwenty-horizontal .twentytwenty-handle:after,
.twentytwenty-horizontal .twentytwenty-handle:before {
  width: 2px;
}
