.filter {
  text-align: right;
  font-size: 1.6rem;
  
  &__company {
    display: none;
  }

  &__filter {
    display: block;

    &__dropdown {
      background: none;
      border: none;
      color: $font-color;
      border-color: $font-color;

      &:hover {
        background-color: #f2f2f2;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__btn {
    background: none;
    border: none;
  }

  span {
    cursor: pointer;
    font-size: 1.6rem;

    &:hover {
      color: black;
    }
  }
}