.filter {
  text-align: right;
  font-size: 1.6rem;

  &__filter {
    display: block;

    &__dropdown {
      background: none;
      border: none;
      color: $font-color;
      border-color: $font-color;

      &:hover {
        background-color: #f2f2f2;
      }

      &:focus {
        outline: none;
      }

      &--option {
        text-align: center;
        font-weight: normal;
      }
    }
  }

  &__btn {
    background: none;
    border: none;
    padding-left: .5rem;
  }

  span {
    cursor: pointer;
    font-size: 1.6rem;

    &:hover {
      color: black;
    }
  }
}

.filterOpts {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}