.flash {
  position: fixed;
  top: 3rem;
  right: 3rem;
  text-align: center;
  padding: 2rem 4rem;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  text-transform: lowercase;
  animation: 5s slideinout forwards;
  border: 1px solid white;

  &--error {
    background: $highlight-color;
  }

  &--success {
    background: $complimentary-color;
  }

  &__x {
    position: absolute;
    right: 5%;
    top: 15%;

    &:hover {
      cursor: pointer;
    }
  }
}
