@import './breakpoints';

.hero {
  margin-top: 7vh;
  color: white;
  height: 60vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media($breakpoint-sm) {
    justify-content: flex-end;
  }

  &__background {
    background-color: $hero-background-color;
    z-index: -1;
  }

  &__header {
    z-index: 3;
    margin: 2rem;
    font-size: 4rem;
    text-align: center;
    width: 75%;
    font-weight: 300;
    animation: 1s fadedown forwards;

    @include media($breakpoint-lg) {
      width: 90%
    }

    @include media($breakpoint-md) {
      font-size: 3.5rem;
    }

    @include media($breakpoint-sm) {
      font-size: 2.5rem;
      width: 90%;
    }

    &--bold {
      font-weight: 400;
    }
  }

  &__subheader {
    z-index: 3;
    font-size: 2rem;
    text-align: center;
    width: 75%;
    margin: 2rem;
    font-weight: 300;
    animation: 1s fadedown forwards;

    @include media($breakpoint-lg) {
      width: 90%
    }

    @include media($breakpoint-sm) {
      font-size: 1.6rem;
      width: 90%;
    }
  }

  &::after {
    content: '';
    background: url('../imgs/lenses/0001/1953-angenieux-double-gauss.svg');
    background-position: center;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    animation: 1s fadein25 forwards;
  }

  &__arrow-link {
    color: white;
    z-index: 3;
    animation: 1s fadedown forwards;
  }

  &__arrow {
    color: white;
    z-index: 3;
    font-size: 4rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
}

.description {
  animation: 1s fadedown forwards;

  &__left {
    padding-right: 3rem;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    text-align: right;
    margin-bottom: 3rem;
    font-size: 2.2rem;
  }

  &__right {
    margin-bottom: 3rem;
    font-size: 2.2rem;
  }
}
