.lense {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 2.5%;
  animation: 1s fadein forwards;
  height: 100%;

  &__card {
    width: 100%;
    margin-top: 2rem;

    &__bubbles {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
    }

    &__bubble {
      text-transform: lowercase;
      font-size: 1.8rem;
      margin-top: 1rem;
      transition: 0.2s all;
      background: #d9d9d9;
      color: white;
      margin: 0.5rem 0.2rem;
      padding: 0.5rem 1rem;
      border-radius: 50px;

      &:hover {
        cursor: pointer;
      }
    }

    &__image {
      height: auto;
      position: relative;
      width: 100%;
      transition: all 0.2s;

      &:hover {
        transform: scale(1.01);
        cursor: pointer;
      }

      img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
      }

      &__tag {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: white;
        z-index: 25;
      }

      &__cart {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: white;
        z-index: 25;
      }
    }
  }
}

.lenses {
  display: flex;
  flex-wrap: wrap;
}

.activelens {
  color: #e87979;
  animation: 0.2s slideup forwards;
}
