.login {
  min-height: calc(100vh - 15rem);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    margin: 2rem;
    color: $font-color;
  }

  &__well {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 1rem;
    max-width: 90vw
  }

  &__textbox {
    font-family: Arial;
    text-align: center;
    border: none;
    background: inherit;
    border-bottom: 1px solid rgba($font-color, 0.5);
    font-size: 1.8rem;
    margin: 1rem;

    &:hover {
      border-bottom: 1px solid $font-color;
    }

    &:focus {
      outline: none;
      border-bottom: 1px solid $highlight-color;
      color: $font-color;
    }
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}