.login {
  min-height: 75vh;
  position: relative;

  &__title {
    margin: 2rem;
    color: $font-color;
  }

  &__well {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    border-radius: 1rem;
  }

  &__textbox {
    font-family: Arial;
    text-align: center;
    border: none;
    background: inherit;
    border-bottom: 1px solid rgba($font-color, 0.5);
    font-size: 1.8rem;
    margin: 1rem;

    &:hover {
      border-bottom: 1px solid $font-color;
    }

    &:focus {
      outline: none;
      border-bottom: 1px solid $highlight-color;
      color: $font-color;
    }
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}