.nav {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: 1s fadein forwards;
  height: 7vh;

  &__background {
    background: $hero-background-color;
    z-index: -1;
  }

  &__brand {
    color: white;
    font-size: 4rem;
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: white;
      text-decoration: none;
    }
  }

  &__right {
    color: white;

    &__item {
      color: white;
      font-size: 2rem;
      margin: 0 1rem;
      transition: all 0.2s;

      &:hover {
        color: white;
        text-decoration: none;
        animation: 0.3s underline forwards;
      }

      &:focus,
      &:active,
      &:visited {
        color: white;
        text-decoration: none;
      }
    }
  }

  &__logo {
    height: 100%;
  }
}

.active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
