@import './breakpoints';
@import './base';

.nav {
  padding: 1rem 39rem;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: 1s fadein forwards;
  height: 7vh;

  @include media($breakpoint-xl) {
    padding: 1rem 8rem;
  }

  @include media($breakpoint-lg) {
    padding: 1rem 4rem;
  }

  @include media($breakpoint-sm) {
    padding: 1rem 2rem;
  }

  &__background {
    background: $hero-background-color;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7vh;
  }

  &__brand {
    color: white;
    font-size: 4rem;
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    animation: 1s fadein forwards;

    @include media($breakpoint-sm) {
      font-size: 3rem;
    }

    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: white;
      text-decoration: none;
    }
  }

  &__right {
    color: white;
    animation: 1s fadein forwards;

    @include media($breakpoint-lg) {
      display: none;
    }

    &__item {
      color: white;
      font-size: 2rem;
      margin: 0 1rem;
      transition: all 0.2s;

      &:hover {
        color: white;
        text-decoration: none;
        animation: 0.3s underline forwards;
      }

      &:focus,
      &:active,
      &:visited {
        color: white;
        text-decoration: none;
      }
    }
  }

  &__close-area {
    position: fixed;
    top: 0;
    bottom: 0;
    // Viewport height minus nav height
    height: 100vh - 7vh;
    width: 100vw;
    left: auto;
    right: 0;
    pointer-events: none;
    z-index: -1;
  }

  &__logo {
    height: 100%;
  }

  &__menu {
    width: 49px;
    display: none;

    @include media($breakpoint-lg) {
      display: block;
    }

    @include media($breakpoint-sm) {
      transform: scale(0.8);
    }

    &--active {
      .nav__bar--1 {
        transform: translate(-8px, 1px) rotate(-45deg);
      }
      .nav__bar--2 {
        transform: rotate(45deg);
      }
      .nav__bar--3 {
        transform: translate(8px, -1px) rotate(-45deg);
      }
    }
  }

  &__drawer {
    position: fixed;
    // Nav height
    top: 7vh;
    right: 0;
    // Viewport height minus nav height
    height: 100vh - 7vh;
    width: 400px;
    max-width: 70vw;
    background: inherit;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.3s transform;
    background: $hero-background-color;

    @include media($breakpoint-sm) {
      padding: 48px;
    }

    &--active {
      transform: scaleX(1);

      .nav__close-area {
        pointer-events: all;
      }
      .nav__links {
        opacity: 1
      }
    }
  }

  &__links {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    opacity: 0;
    transition: 0.3s opacity 0.1s;
  }

  &__link {
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 48px;

    @include media($breakpoint-sm) {
      font-size: 32px;
    }

    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &__bar {
    height: 3px;
    width: 100%;
    margin: 15px 0;
    background-color: white
  }

  &__bar--1,
  &__bar--3 {
    width: 50%;
  }

  &__bar--1 {
    margin-left: auto;
    transform-origin: top right;
    transition: 0.3s transform;
  }

  &__bar--2 {
    transition: 0.3s transform;
  }

  &__bar--3 {
    transform-origin: bottom left;
    transition: 0.3s transform;
  }
}

.active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
