.nav {
  padding: 1rem 2rem;
  display: flex; 
  align-items: center;
  justify-content: space-between;

  &__brand {
    color: $font-color;
    font-size: 4rem;
    flex: 1;

    &:hover {
      color: black;
      text-decoration: none;
    }

    &:focus, 
    &:active,
    &:visited {
      text-decoration: none;
      color: $font-color;
    }
  }

  &__right {

    &__item {
      color: $font-color;
      font-size: 2rem;
      margin: 0 1rem;

      &:hover {
        color: black;
        text-decoration: none;
      }

      &:focus, 
      &:active,
      &:visited {
        text-decoration: none;
        color: $font-color;
      }
    }
  }
}

.active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}