  <footer class="footer">
    <div class="footer__lists">
      <ul class="footer__left-list">
        <a href="/" class="footer__left-list__link">
          <li class="footer__left-list__item">lenses</li>
        </a>
        <a href="/features" class="footer__left-list__link">
          <li class="footer__left-list__item">features</li>
        </a>
      </ul>
      <ul class="footer__center-list">
        <a href="/login" class="footer__center-list__link">
          <li class="footer__center-list__item">login</li>
        </a>
        <a href="/register" class="footer__center-list__link">
          <li class="footer__center-list__item">register</li>
        </a>
        <a href="/buy" class="footer__center-list__link">
          <li class="footer__center-list__item">buy</li>
        </a>
      </ul>
      <ul class="footer__right-list">
        <a href="#" class="footer__right-list__link">
          <li class="footer__right-list__item">facebook</li>
        </a>
        <a href="#" class="footer__right-list__link">
          <li class="footer__right-list__item">twitter</li>
        </a>
      </ul>
    </div>
    <p class="footer__text">crafted with dedication by a bunch of raytracing 
    nerds, built on the shoulders of the raytracing giants
    </p>
    <% const date = new Date(); %>
    <% const year = date.getFullYear(); %>
    <p class="footer__disclaimer">
      © <%= year %> Lentil Ltd. 
    </p>
  </footer>
  <script type="text/javascript" src="js/lenses.js"></script>
  <script type="text/javascript" src="js/flash.js"></script>
  <script type="text/javascript" src="js/mobileNav.js"></script>
  <script type="text/javascript" src="js/lazyLoad.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="lib/twentytwenty-master/js/jquery.event.move.js" type="text/javascript"></script>
  <script src="lib/twentytwenty-master/js/jquery.twentytwenty.js" type="text/javascript"></script>
  <script>
    $(() => {
      $(".twentytwenty-container").twentytwenty({default_offset_pct: 0.5});
    });
  </script>
</body>
</html>