<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lentil</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Spectral:400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/twentytwenty-master/css/twentytwenty.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <% include navbar %>

  <% if(error && error.length > 0) { %>
    <div class="flash flash--error" role="alert">
      <%= error %><i class="fas fa-times flash__x"></i>
    </div>
  <% } %>
  <% if(success && success.length > 0) { %>
    <div class="flash flash--success" role="alert">
      <%= success %><i class="fas fa-times flash__x"></i>
    </div>
  <% } %>