<div class="nav__background">
  <nav class="nav">
    <a href="/" class="nav__brand">
      <img
        src="../imgs/lentil_logo.png"
        alt="Lentil Logo"
        class="nav__logo"
      />
      lentil
    </a>
    <div class="nav__right">
      <a
        href="/"
        class="nav__right__item <% if(page && page == 'lenses') { %> active <% } %>"
        >lenses</a>
      / <a href="/features" class="nav__right__item">features</a>
      / 
      <a
        href="/cart"
        class="nav__right__item <% if(page && page == 'cart') { %> active <% } %>"
        >my cart</a
      >
    </div>
    <div class="nav__menu">
      <div class="nav__bar nav__bar--1"></div>
      <div class="nav__bar nav__bar--2"></div>
      <div class="nav__bar nav__bar--3"></div>
    </div>
    <div class="nav__drawer">
      <div class="nav__close-area"></div>
      <ul class="nav__links">
        <a href="/" class="nav__link">
          <li class="nav__link">lenses</li>
        </a>
        <a href="/features" class="nav__link">
          <li class="nav__link">features</li>
        </a>
        <a href="/cart" class="nav__link">
          <li class="nav__link">my cart</li>
        </a>
      </ul>
    </div>
  </nav>
</div>
