<% include partials/header %>

<div class="content">
  <h1 class="text-center">packages</h1>

  <div class="packages">
    <div class="box">
      <h2 class="box__header">
        freelancer
      </h2>
      <p class="box__price">
        $50
      </p>
      <p class="box__info">
        single purchase, access to future updates forever for all lenses
      </p>
      <div class="box__group">
        <form action="/charge" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" 
            class="stripe-button"
            data-key="<%= pubkey %>"
            data-amount="5000"
            data-locale="auto">
          </script>
          <button class="box__button">
            buy now
          </button>
        </form>
        <p class="box__disclaimer box__disclaimer--line">
          available only for single user
        </p>
      </div>
    </div>

    <div class="box">
      <h2 class="box__header">
        studio
      </h2>
      <p class="box__price">
        $300
      </p>
      <p class="box__info">
        single purchase, access to future updates forever for all lenses
      </p>
      <div class="box__group">
        <form action="/charge" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" 
            class="stripe-button"
            data-key="<%= pubkey %>"
            data-amount="30000"
            data-locale="auto">
          </script>
          <button class="box__button">
            buy now
          </button>
        </form>
        <p class="box__disclaimer">
          available only for studios with less than $2,000,000 in annual revenue
        </p>
      </div>
    </div>

    <div class="box">
      <h2 class="box__header">
        enterprise
      </h2>
      <p class="box__price box__price--hidden">
        $999
      </p>
      <p class="box__info">
        single purchase, access to future updates forever for all lenses
      </p>
      <div class="box__group">
        <button class="box__button">
          get in touch
        </button>
        <p class="box__disclaimer">
          available only for studios with greater than $2,000,000 in annual revenue
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  const stripeButtons = document.querySelectorAll('.stripe-button-el')
  stripeButtons.forEach(button => {
    button.style.display = 'none';
  });
</script>

<% include partials/footer %>