<% include partials/header %>

<div class="container">
  <div class="login">
    <form action="/login" method="POST">
      <div class="login__well">
        <h1 class="login__title">login</h1>
        <div class="form-group">
          <input type="text" name="username" placeholder="Username" class="login__textbox" required>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" class="login__textbox" required>
        </div>
        <div class="form-group">
          <button class="button">login</button>
        </div>
      </div>
    </form>
  </div>
</div>

<% include partials/footer %>