<h1>Pay</h1>
<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" 
    class="stripe-button"
    data-key="<%= pubkey %>"
    data-amount="<%= amount %>"
    data-locale="auto">
  </script>
</form>