<% include partials/header %>

<div class="container">
  <div class="login">
    <form action="/register" method="POST">
      <div class="login__well">
        <h1 class="login__title">register</h1>
        <div class="form-group">
          <input type="email" name="email" placeholder="email" class="login__textbox" required>
        </div>
        <div class="form-group">
          <input type="text" name="username" placeholder="username" class="login__textbox" required>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="password" class="login__textbox" required>
        </div>
        <div class="form-group">
          <button class="button">Register</button>
        </div>
        <p>already have an account? <a href="/login">login!</a></p>
      </div>
    </form>
  </div>
</div>

<% include partials/footer %>