.lense {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1.5%; }
  .lense__card {
    width: 100%;
    margin-top: 2rem; }
    .lense__card__title {
      text-transform: lowercase;
      font-size: 1.8rem;
      margin-top: 1rem; }
      .lense__card__title:hover {
        color: black;
        cursor: pointer; }
    .lense__card__image {
      height: auto;
      width: 100%;
      transition: all .2s; }
      .lense__card__image:hover {
        transform: scale(1.01);
        cursor: pointer; }
      .lense__card__image img {
        height: 100%;
        width: 100%;
        border-radius: 5px; }

.lenses {
  display: flex;
  flex-wrap: wrap; }

.activelens {
  margin-top: -1rem;
  color: #e87979; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Spectral';
  color: #333333;
  background: #efefef; }

hr {
  border: 0;
  clear: both;
  display: block;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 1px;
  margin: 2rem auto; }

#caret {
  font-size: 1rem; }

.button {
  background-color: #e87979;
  color: white;
  border: none;
  padding: 1rem 5rem;
  border-radius: 5px;
  text-transform: lowercase;
  font-size: 2rem;
  transition: all .2s; }
  .button:hover {
    background-color: #d85050; }
  .button:focus {
    outline: none; }
  .button:active {
    background-color: #e87979; }

::selection {
  background-color: #e87979;
  color: white; }

::-moz-selection {
  background-color: #e87979;
  color: white; }

::-o-selection {
  background-color: #e87979;
  color: white; }

::-ms-selection {
  background-color: #e87979;
  color: white; }

::-webkit-selection {
  background-color: #e87979;
  color: white; }

.filter {
  text-align: right;
  font-size: 1.6rem; }
  .filter__company {
    display: none; }
  .filter__filter {
    display: block; }
    .filter__filter__dropdown {
      background: none;
      border: none;
      color: #333333;
      border-color: #333333; }
      .filter__filter__dropdown:hover {
        background-color: #f2f2f2; }
      .filter__filter__dropdown:focus {
        outline: none; }
  .filter__btn {
    background: none;
    border: none; }
  .filter span {
    cursor: pointer;
    font-size: 1.6rem; }
    .filter span:hover {
      color: black; }

.description__left {
  padding-right: 3rem;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  text-align: right;
  margin-bottom: 3rem; }

.description__right {
  margin-bottom: 3rem; }

.nav {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav__brand {
    color: #333333;
    font-size: 4rem;
    flex: 1; }
    .nav__brand:hover {
      color: black;
      text-decoration: none; }
    .nav__brand:focus, .nav__brand:active, .nav__brand:visited {
      text-decoration: none;
      color: #333333; }
  .nav__right__item {
    color: #333333;
    font-size: 2rem;
    margin: 0 1rem; }
    .nav__right__item:hover {
      color: black;
      text-decoration: none; }
    .nav__right__item:focus, .nav__right__item:active, .nav__right__item:visited {
      text-decoration: none;
      color: #333333; }

.active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.footer {
  height: 15rem;
  background: #272727;
  color: #dfdfdf;
  font-size: 1.6rem;
  padding: 2rem;
  width: 100%; }
  .footer__text {
    text-align: center; }

.login {
  min-height: 75vh;
  position: relative; }
  .login__title {
    margin: 2rem;
    color: #333333; }
  .login__well {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 35vw;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .login__textbox {
    font-family: Arial;
    text-align: center;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
    font-size: 1.8rem;
    margin: 1rem; }
    .login__textbox:hover {
      border-bottom: 1px solid #333333; }
    .login__textbox:focus {
      outline: none;
      border-bottom: 1px solid #e87979;
      color: #333333; }
  .login__button {
    background-color: #e87979;
    color: white;
    border: none;
    padding: 1rem 5rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Arial;
    transition: all .2s; }
    .login__button:hover {
      background-color: #d85050; }
    .login__button:focus {
      outline: none; }
    .login__button:active {
      background-color: #e87979; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #efefef inset; }

.exp-lense__card {
  width: 68vw;
  left: calc(-34vw + 50%);
  display: none;
  margin-top: 5rem;
  height: 100%; }
  .exp-lense__card__info {
    height: 34.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .exp-lense__card__info__prop {
      width: 100%;
      font-size: 1.6rem; }

.twentytwenty-container {
  min-height: 34.7rem;
  border-bottom: 1px solid rgba(232, 121, 121, 0.3); }
