@charset "UTF-8";
.lense {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 1rem 2.5%;
  animation: 1s fadein forwards;
  height: 100%; }
  @media (max-width: 900px) {
    .lense {
      width: 90%; } }
  .lense__card {
    width: 100%;
    margin-top: 2rem; }
    .lense__card__bubbles {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none; }
    .lense__card__bubble {
      text-transform: lowercase;
      font-size: 1.8rem;
      margin-top: 1rem;
      transition: 0.2s all;
      background: #d9d9d9;
      color: white;
      margin: 0.5rem 0.2rem;
      padding: 0.5rem 1rem;
      border-radius: 50px; }
      @media (max-width: 460px) {
        .lense__card__bubble {
          font-size: 1.2rem; } }
      .lense__card__bubble:hover {
        cursor: pointer; }
    .lense__card__image {
      height: auto;
      position: relative;
      width: 100%;
      transition: all 0.2s; }
      .lense__card__image:hover {
        transform: scale(1.01);
        cursor: pointer; }
      .lense__card__image img {
        height: 100%;
        width: 100%;
        border-radius: 5px; }
      .lense__card__image__tag {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: white;
        z-index: 25; }
      .lense__card__image__cart {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: white;
        z-index: 25; }

.lenses {
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .lenses {
      flex-direction: column;
      align-items: center; } }

.activelens {
  color: #e87979;
  animation: 0.2s slideup forwards; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  color: #333333;
  background: #efefef; }

hr {
  border: 0;
  clear: both;
  display: block;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 1px;
  margin: 2rem auto; }

#caret {
  font-size: 1rem; }

.button {
  background-color: #e87979;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  text-transform: lowercase;
  font-size: 2rem;
  text-align: center;
  transition: all 0.2s;
  margin: 1rem; }
  .button:hover {
    background-color: #d85050;
    color: white;
    text-decoration: none; }
  .button:focus {
    color: white;
    outline: none;
    text-decoration: none; }
  .button:active {
    background-color: #e87979;
    text-decoration: none; }
  .button--inactive {
    filter: grayscale(75%); }
  .button--green {
    background-color: #1abc9c; }
    .button--green:hover, .button--green:focus, .button--green:active {
      background-color: #1abc9c; }
  .button--icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 25;
    transform: translateY(-50%); }

.content {
  min-height: 100vh;
  margin-top: calc(7vh + 3rem); }

::selection {
  background-color: #e87979;
  color: white; }

::-moz-selection {
  background-color: #e87979;
  color: white; }

::-o-selection {
  background-color: #e87979;
  color: white; }

::-ms-selection {
  background-color: #e87979;
  color: white; }

::-webkit-selection {
  background-color: #e87979;
  color: white; }

.filter {
  text-align: right;
  font-size: 1.6rem; }
  .filter__filter {
    display: block; }
    .filter__filter__dropdown {
      background: none;
      border: none;
      color: #333333;
      border-color: #333333; }
      .filter__filter__dropdown:hover {
        background-color: #f2f2f2; }
      .filter__filter__dropdown:focus {
        outline: none; }
      .filter__filter__dropdown--option {
        text-align: center;
        font-weight: normal; }
  .filter__btn {
    background: none;
    border: none;
    padding-left: .5rem; }
    .filter__btn:focus, .filter__btn:active {
      outline: none; }
  .filter span {
    cursor: pointer;
    font-size: 1.6rem; }
    .filter span:hover {
      color: black; }

.filterOpts {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  color: #333333;
  background: #efefef; }

hr {
  border: 0;
  clear: both;
  display: block;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 1px;
  margin: 2rem auto; }

#caret {
  font-size: 1rem; }

.button {
  background-color: #e87979;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  text-transform: lowercase;
  font-size: 2rem;
  text-align: center;
  transition: all 0.2s;
  margin: 1rem; }
  .button:hover {
    background-color: #d85050;
    color: white;
    text-decoration: none; }
  .button:focus {
    color: white;
    outline: none;
    text-decoration: none; }
  .button:active {
    background-color: #e87979;
    text-decoration: none; }
  .button--inactive {
    filter: grayscale(75%); }
  .button--green {
    background-color: #1abc9c; }
    .button--green:hover, .button--green:focus, .button--green:active {
      background-color: #1abc9c; }
  .button--icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 25;
    transform: translateY(-50%); }

.content {
  min-height: 100vh;
  margin-top: calc(7vh + 3rem); }

::selection {
  background-color: #e87979;
  color: white; }

::-moz-selection {
  background-color: #e87979;
  color: white; }

::-o-selection {
  background-color: #e87979;
  color: white; }

::-ms-selection {
  background-color: #e87979;
  color: white; }

::-webkit-selection {
  background-color: #e87979;
  color: white; }

.nav {
  padding: 1rem 39rem;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: 1s fadein forwards;
  height: 7vh; }
  @media (max-width: 1440px) {
    .nav {
      padding: 1rem 8rem; } }
  @media (max-width: 1024px) {
    .nav {
      padding: 1rem 4rem; } }
  @media (max-width: 460px) {
    .nav {
      padding: 1rem 2rem;
      height: 9vh; } }
  .nav__background {
    background: #1abc9c;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7vh; }
    @media (max-width: 460px) {
      .nav__background {
        height: 9vh; } }
  .nav__brand {
    color: white;
    font-size: 4rem;
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    animation: 1s fadein forwards; }
    @media (max-width: 460px) {
      .nav__brand {
        font-size: 3rem; } }
    .nav__brand:hover, .nav__brand:focus, .nav__brand:active, .nav__brand:visited {
      color: white;
      text-decoration: none; }
  .nav__right {
    color: white;
    animation: 1s fadein forwards; }
    @media (max-width: 1024px) {
      .nav__right {
        display: none; } }
    .nav__right__item {
      color: white;
      font-size: 2rem;
      margin: 0 1rem;
      transition: all 0.2s; }
      .nav__right__item:hover {
        color: white;
        text-decoration: none;
        animation: 0.3s underline forwards; }
      .nav__right__item:focus, .nav__right__item:active, .nav__right__item:visited {
        color: white;
        text-decoration: none; }
  .nav__close-area {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 93vh;
    width: 100vw;
    left: auto;
    right: 0;
    pointer-events: none;
    z-index: -1; }
  .nav__logo {
    height: 100%; }
  .nav__menu {
    width: 49px;
    display: none; }
    @media (max-width: 1024px) {
      .nav__menu {
        display: block; } }
    @media (max-width: 460px) {
      .nav__menu {
        transform: scale(0.8); } }
    .nav__menu--active .nav__bar--1 {
      transform: translate(-8px, 1px) rotate(-45deg); }
    .nav__menu--active .nav__bar--2 {
      transform: rotate(45deg); }
    .nav__menu--active .nav__bar--3 {
      transform: translate(8px, -1px) rotate(-45deg); }
  .nav__drawer {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 400px;
    max-width: 70vw;
    background: inherit;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.3s transform;
    background: #1abc9c; }
    @media (max-width: 460px) {
      .nav__drawer {
        padding: 48px; } }
    .nav__drawer--active {
      transform: scaleX(1); }
      .nav__drawer--active .nav__close-area {
        pointer-events: all; }
      .nav__drawer--active .nav__links {
        opacity: 1; }
  .nav__links {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    opacity: 0;
    transition: 0.3s opacity 0.1s; }
  .nav__link {
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 48px; }
    @media (max-width: 460px) {
      .nav__link {
        font-size: 32px; } }
    .nav__link:focus, .nav__link:active {
      text-decoration: none; }
  .nav__bar {
    height: 3px;
    width: 100%;
    margin: 15px 0;
    background-color: white; }
  .nav__bar--1, .nav__bar--3 {
    width: 50%; }
  .nav__bar--1 {
    margin-left: auto;
    transform-origin: top right;
    transition: 0.3s transform; }
  .nav__bar--2 {
    transition: 0.3s transform; }
  .nav__bar--3 {
    transform-origin: bottom left;
    transition: 0.3s transform; }

.active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.footer {
  min-height: 15rem;
  background: #1abc9c;
  color: white;
  font-size: 1.6rem;
  padding: 2rem 4rem;
  width: 100%;
  position: absolute; }
  .footer__lists {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .footer__left-list, .footer__center-list, .footer__right-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none; }
    .footer__left-list__link, .footer__center-list__link, .footer__right-list__link {
      color: rgba(255, 255, 255, 0.75); }
      .footer__left-list__link:hover, .footer__center-list__link:hover, .footer__right-list__link:hover {
        color: white;
        text-decoration: none; }
  .footer__left-list {
    align-items: flex-start; }
  .footer__center-list {
    align-items: center; }
  .footer__right-list {
    align-items: flex-end; }
  .footer__text {
    text-align: center;
    font-weight: 300; }
    @media (max-width: 768px) {
      .footer__text {
        font-size: 12px; } }
  .footer__disclaimer {
    text-align: center;
    font-weight: 300; }
    @media (max-width: 768px) {
      .footer__disclaimer {
        font-size: 12px; } }

.login {
  min-height: calc(100vh - 15rem);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .login__title {
    margin: 2rem;
    color: #333333; }
  .login__well {
    width: 400px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 1rem;
    max-width: 90vw;
    padding: 8px;
    margin-top: 60px;
    margin-bottom: 16px; }
  .login__textbox {
    font-family: Arial;
    text-align: center;
    border: none;
    background: inherit;
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
    font-size: 1.8rem;
    margin: 1rem; }
    .login__textbox:hover {
      border-bottom: 1px solid #333333; }
    .login__textbox:focus {
      outline: none;
      border-bottom: 1px solid #e87979;
      color: #333333; }
  .login__radio {
    margin: 8px; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

.exp-lense {
  height: 0; }
  .exp-lense__card {
    width: 90vw;
    display: block;
    opacity: 0;
    margin-top: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0); }
    @media (min-width: 768px) {
      .exp-lense__card {
        width: 750px; } }
    @media (min-width: 992px) {
      .exp-lense__card {
        width: 970px; } }
    @media (min-width: 1200px) {
      .exp-lense__card {
        width: 1170px; } }
    .exp-lense__card__info {
      height: 30.8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .exp-lense__card__info--scroll {
        overflow-y: scroll; }
      .exp-lense__card__info__prop {
        font-size: 1.6rem;
        display: flex;
        width: 100%; }
        @media (max-width: 460px) {
          .exp-lense__card__info__prop {
            font-size: 1.4rem; } }
        .exp-lense__card__info__prop--key {
          min-width: 30%;
          text-align: right;
          padding-right: 1rem;
          font-weight: 500; }
        .exp-lense__card__info__prop--val {
          min-width: 70%;
          text-align: left;
          font-weight: 300; }
  @media (max-width: 768px) {
    .exp-lense__2020 {
      display: none; } }

.twentytwenty-container {
  min-height: 100%;
  max-height: 30.8rem;
  border-bottom: 1px solid rgba(232, 121, 121, 0.3);
  z-index: 1; }

.twentytwenty-handle {
  top: 0%;
  width: 0px;
  height: 0px;
  margin-left: -3px; }

.twentytwenty-horizontal .twentytwenty-handle:after,
.twentytwenty-horizontal .twentytwenty-handle:before {
  width: 2px; }

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .dropdown__title {
    text-decoration: none;
    color: black;
    padding: 0 .5rem; }
  .dropdown__list {
    padding-inline-start: 0;
    background-color: white;
    position: absolute;
    margin-top: 30px;
    z-index: 10;
    height: 15rem;
    overflow-y: scroll;
    overflow-x: hidden; }
    .dropdown__list__item {
      list-style: none;
      padding: .5rem 1rem;
      display: flex;
      justify-content: flex-end;
      flex-wrap: nowrap;
      font-size: 1.4rem; }
      .dropdown__list__item:nth-of-type(even) {
        background-color: #efefef; }
      .dropdown__list__item label {
        margin: 0 .5rem;
        font-weight: normal; }
      .dropdown__list__item input:focus {
        outline: none; }

.checkbox {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background: #EEE;
  height: 15px;
  width: 15px;
  border: 1px solid #999; }
  .checkbox:focus, .checkbox:active {
    outline: none; }
  .checkbox:after {
    content: "✓";
    color: #EEE;
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s; }
  .checkbox:checked:after {
    color: black; }

@keyframes underline {
  0% {
    border-bottom: 1px solid rgba(255, 255, 255, 0); }
  100% {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }

@keyframes fadein25 {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.25; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadedown {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slideup {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-2rem); } }

@keyframes slideinout {
  0% {
    opacity: 0;
    transform: translateX(500px); }
  10% {
    opacity: 1;
    transform: translateX(0); }
  90% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(500px); } }

@keyframes slideout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateX(500px); } }

.flash {
  position: fixed;
  top: 3rem;
  right: 3rem;
  text-align: center;
  padding: 2rem 4rem;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  text-transform: lowercase;
  animation: 5s slideinout forwards;
  border: 1px solid white;
  z-index: 4; }
  .flash--error {
    background: #e87979; }
  .flash--success {
    background: #1abc9c; }
  .flash__x {
    position: absolute;
    right: 5%;
    top: 15%; }
    .flash__x:hover {
      cursor: pointer; }

.hero {
  margin-top: 7vh;
  color: white;
  height: 60vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (max-width: 460px) {
    .hero {
      justify-content: space-evenly;
      margin-top: 9vh; } }
  .hero__background {
    background-color: #1abc9c;
    z-index: -1; }
  .hero__header {
    z-index: 3;
    margin: 2rem;
    font-size: 4rem;
    text-align: center;
    width: 75%;
    font-weight: 300;
    animation: 1s fadedown forwards; }
    @media (max-width: 1024px) {
      .hero__header {
        width: 90%; } }
    @media (max-width: 768px) {
      .hero__header {
        font-size: 3.5rem; } }
    @media (max-width: 460px) {
      .hero__header {
        font-size: 2.5rem;
        width: 90%; } }
    .hero__header--bold {
      font-weight: 400; }
  .hero__subheader {
    z-index: 3;
    font-size: 2rem;
    text-align: center;
    width: 75%;
    margin: 2rem;
    font-weight: 300;
    animation: 1s fadedown forwards; }
    @media (max-width: 1024px) {
      .hero__subheader {
        width: 90%; } }
    @media (max-width: 460px) {
      .hero__subheader {
        font-size: 1.6rem;
        width: 90%; } }
  .hero::after {
    content: '';
    background: url("../imgs/lenses/0001/1953-angenieux-double-gauss.svg");
    background-position: center;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    animation: 1s fadein25 forwards; }
  .hero__arrow-link {
    color: white;
    z-index: 3;
    animation: 1s fadedown forwards; }
    @media (max-width: 460px) {
      .hero__arrow-link {
        display: none; } }
  .hero__arrow {
    color: white;
    z-index: 3;
    font-size: 4rem;
    margin-top: 6rem;
    margin-bottom: 2rem; }
    @media (max-width: 460px) {
      .hero__arrow {
        display: none; } }

.description {
  animation: 1s fadedown forwards; }
  .description__left {
    padding-right: 3rem;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    text-align: right;
    margin-bottom: 3rem;
    font-size: 2.2rem; }
  .description__right {
    margin-bottom: 3rem;
    font-size: 2.2rem; }

.features {
  width: 700px;
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 3rem; }
  @media (max-width: 1024px) {
    .features {
      padding-top: 9rem; } }
  .features__2020 {
    width: 100%;
    margin-top: 4rem; }
    @media (max-width: 460px) {
      .features__2020 {
        margin-top: 0; } }
  .features__info {
    text-align: justify;
    font-weight: 300;
    font-size: 1.8rem; }
    @media (max-width: 460px) {
      .features__info {
        font-size: 1.4rem; } }
    .features__info--bold {
      font-weight: 500; }
    .features__info--italic {
      font-style: italic; }
    .features__info--arnold {
      text-align: center; }
  .features__icon {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem; }
    .features__icon--1 {
      margin-bottom: 0;
      margin-top: 2rem; }
    .features__icon--arnold {
      width: 40%;
      margin-bottom: 0; }

.packages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap; }

.box {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  height: 600px;
  max-width: 90vw;
  width: 360px;
  border-radius: 8px;
  margin: 32px; }

.box__header {
  font-size: 32px; }

.box__price {
  font-size: 96px; }

.box__price--hidden {
  opacity: 0; }

.box__email {
  font-size: 22px;
  text-align: center; }

.box__info {
  font-size: 22px;
  text-align: center; }

.box__group {
  display: flex;
  flex-direction: column;
  align-items: center; }

.box__button {
  width: 300px;
  max-width: 90%;
  margin: 0 auto;
  height: 65px;
  border-radius: 8px;
  background: #1abc9c;
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; }

.box__button:hover {
  text-decoration: none;
  color: white; }

.box__disclaimer {
  margin-top: 4px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.75);
  text-align: center;
  line-height: 15px;
  max-width: 90%; }

.box__disclaimer--line {
  margin-bottom: 25px; }
